.about {
	@include adaptiv-value("margin-bottom", toPX(6.25), toPX(3.75), 1);
	&__title {
		@include adaptiv-value("margin-bottom", toPX(2.5), toPX(1.88), 1);
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.31rem;
	}

	&__card {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 1.25rem;
		padding: 1.5rem;
		background: var(--grey-4, #f3f3f3);
		border-radius: 0.625rem;
		cursor: pointer;

		&.active {
			border-radius: 0.625rem 0.625rem 0 0;
		}

		span {
			color: $black_color;
			font-family: $font-family-jost;
			@include adaptiv-value("font-size", toPX(1.125), toPX(0.875), 1);
			font-style: normal;
			font-weight: 700;
			line-height: 0%; /* 0rem */
		}
	}

	&__icon {
		@include adaptiv-value("max-width", toPX(1.5), toPX(1.375), 1);
		@include adaptiv-value("max-height", toPX(1.5), toPX(1.375), 1);
	}

	&__text {
		color: $black_color;
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		border-radius: 0.625rem;
		border: 1px solid var(--grey-3, #ddd);
		padding: 1.87rem 2.81rem 1.87rem 1.87rem;
		@include adaptiv-value("margin-top", toPX(1.88), toPX(1.44), 1);
	}

	&__content {
		padding: 0 1.5rem;
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		border-radius: 0.625rem;
		background: var(--grey-4, #f3f3f3);

		&.active {
			border-radius: 0 0 0.625rem 0.625rem;
			//padding-top: 1.38rem;
			margin-top: -0.12rem;
			padding-bottom: 1.5rem;
		}
	}
}

.about {
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiv-value("gap", toPX(1.25), toPX(0.56), 1);
	}

	&__item {
		border-radius: 0.625rem;
		background: var(--grey-4, #f3f3f3);
		@include adaptiv-value("padding", toPX(1.5), toPX(0.87), 1);

		color: $black_color;
		font-family: $font-family-montserrat;
		@include adaptiv-value("font-size", toPX(1.125), toPX(0.875), 1);
		font-style: normal;
		font-weight: 700;
		line-height: 100%;

		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.75rem;
		box-sizing: border-box;

		picture,
		img,
		svg {
			@include adaptiv-value("max-width", toPX(1.5), toPX(1.375), 1);
			@include adaptiv-value("max-height", toPX(1.5), toPX(1.375), 1);
			width: 100%;
			height: 100%;
		}
	}

	&__page {
		.about__title {
			margin-bottom: 1.94rem;
		}
	}

	&__item--yellow {
		background-color: $yellow_color;
	}

	&__popular {
		@include adaptiv-value("margin-top", toPX(1.88), toPX(1.19), 1);
		@include adaptiv-value("margin-bottom", toPX(6.25), toPX(3.75), 1);

		.popular__brand {
			grid-template-columns: repeat(8, 1fr);
		}
	}

	&__sending {
		@include adaptiv-value("margin-bottom", toPX(6.25), toPX(3.75), 1);
	}

	&__contacts {
		margin-top: 2.5rem;
	}

	&__item--border {
		border: 2px solid $yellow_color;
		@include adaptiv-value("padding", toPX(1.5), toPX(0.87), 1);
		box-sizing: border-box;
	}

	&__socials {
		margin-top: 3rem;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.81rem;
		@include adaptiv-value("margin-bottom", toPX(6.25), toPX(4.37), 1);

		.about__title {
			margin-bottom: 0;
		}
	}
	&__social {
		display: flex;
		align-items: center;
		gap: 0.62rem;

		a {
			max-width: 2rem;
			max-width: 2rem;
		}
	}
}

@include media-width(1100px) {
	.about {
		&__items {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@include media-width($md) {
	.about {
		&__title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__container {
			grid-template-columns: repeat(2, 1fr);
		}

		&__text {
			@include adaptiv-value("padding", toPX(1.75), toPX(1.25), 1);
		}

		&__items {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@include media-width($sm) {
	.about {
		&__container {
			grid-template-columns: repeat(1, 1fr);
		}
		&__items {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
