.blog {
	@include adaptiv-value("margin-bottom", toPX(6.25), toPX(3.75), 1);
	&__title {
		@include adaptiv-value("margin-bottom", toPX(2.5), toPX(1.88), 1);
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include adaptiv-value("gap", toPX(1.25), toPX(0.62), 1);
	}

	&__card {
		width: 100%;
	}

	&__image--small {
		overflow: hidden;
		margin-bottom: 1.12rem;
		height: 100%;
		@include adaptiv-value("border-radius", toPX(0.625), toPX(0.375), 1);
		@include adaptiv-value("max-height", toPX(12.5), toPX(8.125), 1);
		@include adaptiv-value("max-width", toPX(17.2), toPX(9.6875), 1);
		display: flex;
		align-items: center;
		overflow: hidden;

		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__title--small {
		color: $black_color;
		font-family: $font-family-jost;
		@include adaptiv-value("font-size", toPX(1.125), toPX(0.75), 1);
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		display: block;
	}

	&__description {
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(0.875), toPX(0.5), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		margin-bottom: 1.38rem;
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: start;
		@include adaptiv-value("gap", toPX(1.62), toPX(0.5), 1);
		margin-bottom: 1.25rem;
	}

	&__date {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.38rem;
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(0.75), toPX(0.5), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 0%; /* 0rem */

		&::before {
			content: "";
			display: block;
			min-width: 1rem;
			min-height: 1rem;
			background-image: url("../img/Calendar.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__views {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.38rem;
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(0.75), toPX(0.5), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 0%; /* 0rem */

		&::before {
			content: "";
			display: block;
			min-width: 1rem;
			min-height: 1rem;
			background-image: url("../img/views.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__likes {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.38rem;
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(0.75), toPX(0.5), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 0%; /* 0rem */

		&::before {
			content: "";
			display: block;
			min-width: 1rem;
			min-height: 1rem;
			background-image: url("../img/likes.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__read-more {
		color: $black_color;
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(0.75), toPX(0.5), 1);
		font-style: normal;
		font-weight: 600;
		line-height: 100%; /* 0rem */
		text-decoration-line: underline;
	}
}

.blog {
	&__control {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.blog__info {
			gap: 2.5rem;
			.blog__date,
			.blog__likes,
			.blog__views {
				font-size: 0.875rem;
				&::before {
					min-width: 1.25rem;
					min-height: 1.25rem;
				}
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}

	&__button {
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 0%;
	}

	&__sort {
		display: flex;
		gap: 0.75rem;
		align-items: center;

		.blog__title {
			margin-bottom: 0;
		}

		select {
			padding: 0.75rem;
			padding-right: 2.25rem;
			color: $black_color;
			font-family: $font-family-inter;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 400;

			border-radius: 0.625rem;
			border: 2px solid $yellow_color;
			outline: none;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			background-image: url("../img/select-2.svg");
			background-repeat: no-repeat;
			background-size: 1rem;
			background-position: right 12px center;
		}
	}

	&__category {
		padding: 2.5rem 0 6.25rem;
		.container {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
		}
	}

	&__pagination {
		padding-top: 1.5rem;
		ul {
			display: flex;
			gap: 0.25rem;
			justify-content: center;
			align-items: center;

			li {
				transition: $hover-transition;
				a {
					width: 2.125rem;
					height: 2rem;
					padding: 0.6875rem 0.625rem;
					border-radius: 0.25rem;
					border: 0.3px solid var(--grey-2, #8b8b8b);
					display: flex;
					align-items: center;
					justify-content: center;
					box-sizing: border-box;
					color: $black_color;
					font-family: $font-family-inter;
					font-size: 0.75rem;
					font-style: normal;
					font-weight: 400;
					line-height: 0%; /* 0rem */
					transition: $hover-transition;

					&.active,
					&:hover {
						background: var(--grey-3, #ddd);
						border-color: #ddd;
					}
				}

				&.active {
					a {
						background: var(--grey-3, #ddd);
						border-color: #ddd;
					}
				}
			}
		}
	}

	&__article {
		margin-top: 1.87rem;
	}

	&__image {
		float: left;
		padding: 0 2.5rem 0 0;
		max-width: 35rem;

		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__products {
		margin-bottom: 4.75rem;
	}

	&__content {
		p {
			color: $black_color;
			font-family: $font-family-inter;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 1.3rem */
		}

		h3 {
			color: $black_color;
			font-family: $font-family-montserrat;
			font-size: 1.125rem;
			font-style: normal;
			font-weight: 700;
			line-height: 100%;
			padding-bottom: 1.5rem;
			padding-top: 2.5rem;
		}

		ul {
			list-style-type: disc;
			li {
				line-height: 130%;
			}
		}
	}

	&__slider {
		display: flex !important;
	}

	&__other {
		margin-top: -2.5rem;
	}

	&__footer {
		padding-top: 3.75rem;
		display: flex;
		align-items: center;
		gap: 2.13rem;
		padding-bottom: 1.25rem;
	}

	&__like {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		color: $black_color;
		font-family: $font-family-montserrat;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 700;
		line-height: 0%; /* 0rem */
	}

	&__shared {
		display: flex;
		align-items: center;
		gap: 1.25rem;
		color: $black_color;
		font-family: $font-family-montserrat;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 700;
		line-height: 0%; /* 0rem */
	}

	&__shared-icons {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
}

@include media-width($md) {
	.blog {
		&__title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__container {
			overflow-x: scroll;
			overflow-y: hidden;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
