.card {
	border-radius: 0.625rem;
	border: 1.3px solid var(--grey-2, #8b8b8b);
	background: #fff;
	padding: 0.75rem 0.63rem;
	box-sizing: border-box;

	&__image {
		width: 100%;
		margin-bottom: 0.75rem;
		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		margin-bottom: 0.75rem;
	}

	&__rate {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.31rem;
		margin-bottom: 1rem;
	}

	&__stars {
		display: flex;
		align-items: center;
		gap: 0.1rem;
	}

	&__reviews {
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		font-size: 0.625rem;
		font-style: normal;
		font-weight: 400;
		line-height: 0%; /* 0rem */
	}

	&__price-status {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 1rem;
	}

	&__price {
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 600;
		line-height: 0%; /* 0rem */
	}

	&__status {
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 0.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 0.19rem;
		padding: 0.19rem 0.37rem;
		border-radius: 0.25rem;
	}

	&__select {
		margin-bottom: 1rem;
		select {
			border-radius: 0.25rem;
			border: 0.5px solid var(--grey-2, #8b8b8b);
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			background-image: url("../img/select.svg");
			background-repeat: no-repeat;
			background-size: 100% 100% 100%;
			background-position: right 10px center;
			padding: 0.5rem;
			color: $black_color;
			font-family: $font-family-inter;
			font-size: 0.75rem;
			font-style: normal;
			font-weight: 400;
			width: 100%;
		}
	}

	&__control {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__count {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.25rem;
	}

	&__count--plus {
	}

	&__count--value {
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
	}

	&__count--minus {
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.62rem;
	}

	&__like {
		padding: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.375rem;
		border: 0.5px solid var(--grey-2, #8b8b8b);
		transition: $hover-transition;
		&:hover {
			transition: $hover-transition;
			border: 0.5px solid $black_color;
			background: $black_color;
		}
	}

	&__shop {
		padding: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.375rem;
		border-radius: 0.375rem;
		border: 0.5px solid var(--grey-2, #8b8b8b);
		transition: $hover-transition;
		&:hover {
			transition: $hover-transition;
			border: 0.5px solid $black_color;
			background: $black_color;
		}
	}
}
.star {
	display: block;
	background-image: url("../img/star.svg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 14px;
	height: 14px;
}
.status {
	&__ok {
		background-color: #d3f2ac;
		&::before {
			content: "";
			display: block;
			min-width: 0.625rem;
			min-height: 0.625rem;
			background-image: url("../img/status_ok.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__wait {
		background-color: #fbd996;
		&::before {
			content: "";
			display: block;
			min-width: 0.625rem;
			min-height: 0.625rem;
			background-image: url("../img/status_wait.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__none {
		background-color: #dddddd;
		&::before {
			content: "";
			display: block;
			min-width: 0.625rem;
			min-height: 0.625rem;
			background-image: url("../img/status_none.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
}
