.content {
	&__title {
		color: $black_color;
		font-family: $font-family-montserrat;
		@include adaptiv-value("font-size", toPX(1.375), toPX(1.25), 1);
		font-style: normal;
		font-weight: 700;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(3.13), toPX(1.88), 1);
		@include adaptiv-value("padding-top", toPX(2.62), toPX(1.87), 1);
		@include adaptiv-value("padding-bottom", toPX(5), toPX(3.75), 1);
	}

	&__item {
		h3 {
			color: $black_color;
			font-family: $font-family-montserrat;
			@include adaptiv-value("font-size", toPX(1.125), toPX(0.875), 1);
			font-style: normal;
			font-weight: 700;
			padding-bottom: 0.69rem;
		}

		h4 {
			color: $black_color;
			font-family: $font-family-inter;
			@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
			font-style: normal;
			font-weight: 600;
			line-height: 130%;
			padding: 1rem 0;

			span {
				color: $yellow_color;
			}
		}
		p {
			color: $black_color;
			font-family: $font-family-inter;
			@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 130%;

			a {
				color: $black_color;
				font-family: $font-family-inter;
				@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
				font-style: normal;
				font-weight: 400;
				line-height: 130%;
				text-decoration: underline;
			}
		}
	}
}
