.faq {
	&__title {
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2.5rem;
		@include adaptiv-value("padding-top", toPX(2.63), toPX(1.87), 1);
		@include adaptiv-value("padding-bottom", toPX(6.25), toPX(3.75), 1);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiv-value("padding", toPX(1.38), toPX(1.12), 1);
		border-radius: 0.625rem;
		border: 2px solid transparent;
		background: var(--grey-4, #f3f3f3);
		cursor: pointer;

		&.active {
			border: 2px solid $yellow_color;

			.faq__close {
				transform: rotate(135deg);
			}
		}
	}

	&__question {
		color: $black_color;
		font-family: $font-family-montserrat;
		@include adaptiv-value("font-size", toPX(1.125), toPX(0.875), 1);
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		text-wrap: balance;
	}

	&__close {
		transition: all 0.5s ease-in-out;
	}
	&__answer {
		color: $black_color;
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 1.3rem */
		@include adaptiv-value("padding-top", toPX(1.75), toPX(1.5), 1);
		@include adaptiv-value("padding-left", toPX(2.5), toPX(1.06), 1);
		a {
			text-decoration: underline;
			color: $black_color;
			font-family: $font-family-inter;
			@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
		}
	}
}
