.filter {
	border-radius: 0.625rem;
	border: 1.3px solid var(--yellow, #ffcb31);
	padding: 1.34rem 1.25rem;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	&__head {
		display: none;
	}

	&__item {
		margin-top: 1.34rem;

		&:first-child {
			margin-top: 0;
		}

		&:last-child .fiter__content > div {
			border-bottom: none;
		}
	}

	&__checkboxes {
		display: flex;
		flex-direction: column;
		gap: 0.88rem;
		padding-bottom: 1.34rem;
		border-bottom: 0.01875rem solid #ddd;
	}

	&__prices {
		padding-bottom: 1.34rem;
		border-bottom: 0.01875rem solid #ddd;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__price {
		display: flex;
		align-items: center;

		input {
			border-radius: 0.25rem;
			border: 0.3px solid var(--grey-2, #8b8b8b);
			max-width: 2.375rem;
			padding: 0.6875rem 0.625rem;
			color: var(--grey, #2b2b2b);
			font-family: $font-family-inter;
			font-size: 0.875rem;
			font-style: normal;
			font-weight: 400;
			line-height: 100%; /* 0rem */
		}
	}

	&__price-slider {
	}

	&__button {
		color: var(--grey, #2b2b2b);
		font-family: $font-family-inter;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%;
		padding: 0.6875rem 0.625rem;
		border-radius: 0.25rem;
		border: 1px solid var(--yellow, #ffcb31);
		background: var(--grey-4, #f3f3f3);
		box-sizing: border-box;
		margin-left: 0.5rem;
	}

	&__checkbox {
		display: flex;
		input[type="checkbox"] {
			display: none;

			&:checked + label {
				&::before {
					background-color: $yellow_color;
					transition: $hover-transition;
					animation: check 0.5s;
				}
			}

			&:disabled + label {
				color: var(--grey-2, #8b8b8b);
			}
		}

		label {
			color: var(--grey, #2b2b2b);
			font-family: $font-family-inter;
			font-size: 0.75rem;
			font-style: normal;
			font-weight: 400;
			display: flex;
			align-items: center;
			justify-content: start;
			gap: 0.38rem;
			cursor: pointer;

			span {
				color: var(--grey-2, #8b8b8b);
			}

			&::before {
				content: "";
				min-width: 0.625rem;
				min-height: 0.625rem;
				border-radius: 0.125rem;
				border: 1px solid var(--yellow, #ffcb31);
				transition: $hover-transition;
				animation: check_revers 0.5s;
			}
		}
	}

	&__title {
		color: var(--grey, #2b2b2b);
		font-family: $font-family-montserrat;
		font-size: 0.9375rem;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: 0.8s ease-in-out;

		svg {
			transform: rotate(180deg);
			transition: 0.8s ease-in-out;
		}

		&.active {
			margin-bottom: 1.34rem;
			svg {
				transform: rotate(0deg);
				transition: 0.8s ease-in-out;
			}
		}
	}

	&__price-slider {
	}
}

.noUi-connect {
	background-color: $yellow_color !important;
}

.noUi-target {
	background-color: #8b8b8b !important;
	border: none !important;
	border-radius: 100px !important;
	box-shadow: none !important;
	height: 2px !important;
}

.noUi-handle::after,
.noUi-handle::before {
	display: none !important;
}

.noUi-handle {
	box-shadow: none !important;
	border-radius: 100% !important;
	background-color: $yellow_color !important;
	border: 2px solid $yellow_color !important;
}

.noUi-horizontal .noUi-handle {
	width: 12px !important;
	height: 12px !important;
	top: -5px !important;
	cursor: pointer;
}

.noUi-horizontal .noUi-handle-upper {
	right: 0 !important;
}

.noUi-horizontal .noUi-handle-lower {
	right: -12px !important;
}

@include media-width($md) {
	.filter {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		background-color: #fff;
		z-index: 5;
		transition: all 0.6s ease-in-out;

		transform: translateX(-100%);

		&.active {
			transform: translateX(0%);
		}

		&__container {
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			overflow-y: none;
			padding-right: 1rem;

			&::-webkit-scrollbar {
				position: relative;
				width: 0.25rem;
			}

			&::-webkit-scrollbar-track {
				border-radius: 1.25rem;
				background: var(--grey-3, #ddd);
				margin-top: 1.13rem;
				margin-bottom: 1.13rem;
			}

			&::-webkit-scrollbar-thumb {
				border-radius: 1.25rem;
				background: var(--grey-2, #8b8b8b);
			}
		}

		&__bg {
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			margin: auto;
			opacity: 0;
			background: var(--grey, #2b2b2b);
			z-index: 4;
			transform: scale(0);
			transition: opacity 0.6s ease-in-out;

			&.active {
				opacity: 0.3;
				transform: scale(1);
				transition: opacity 0.6s ease-in-out;
			}
		}
		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1.37rem;
		}

		&__header {
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.catalog__filter-icon {
			border-radius: 0.2rem;
			border: 1.067px solid var(--yellow, #ffcb31);
			width: 1rem;
			height: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__close {
			border-radius: 0.19531rem;
			border: 0.25px solid var(--grey-2, #8b8b8b);
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
