@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
	font-weight: Bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
	font-weight: Bold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
	font-weight: Medium;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
	font-weight: Medium;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
	font-weight: SemiBold;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
	font-weight: Regular;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
	font-weight: Regular;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
	font-weight: SemiBold;
	font-style: normal;
}
