.catalog {
	&__dropdown {
		display: block;
		position: absolute;
		top: 3.5rem;
		padding-top: 1.25rem;
		left: 0;
		z-index: 3;
	}
	&__dropdown-list {
		border-radius: 0.625rem;
		border: 1px solid $yellow_color;
		background: #f3f3f3;
		//padding: 1.5rem;
		padding: 0 1.5rem;
		border-width: 0px;
		max-height: 0rem;
		width: 100%;
		overflow: hidden;
		transition: $hover-transition;

		ul {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;

			li {
				a {
					display: flex;
					align-items: center;
					gap: 0.38rem;
					color: $black_color;
					font-family: $font-family-inter;
					font-size: 0.875rem;
					font-style: normal;
					font-weight: 300;
					transition: $hover-transition;
					&::after {
						content: "";
						display: block;
						background-image: url("../img/arrow-right.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						min-width: 0.625rem;
						min-height: 0.625rem;
						transition: $hover-transition;
					}
				}

				&:hover {
					a {
						font-weight: 500;
						transition: $hover-transition;
						&::after {
							background-image: url("../img/arrow-right-hover.svg");
							transition: $hover-transition;
						}
					}
				}
			}
		}
	}
}

.header {
	&__wrapper {
		background-color: $black_color;
	}

	&__container {
		display: flex;
		padding: 2rem 0;
		align-items: center;
		justify-content: space-between;
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 1.87rem;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 3.12rem;
		li {
			a {
				color: $white_color;
				font-family: $font-family-inter;
				font-size: 0.75rem;
				font-style: normal;
				font-weight: 400;
				line-height: 0%; /* 0rem */
				transition: $hover-transition;
			}

			&:hover a {
				color: $yellow_color;
				transition: $hover-transition;
			}
		}
	}

	.navigations__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 1.62rem 0;
	}

	&__logo {
		max-width: 5.625rem;
		width: 5.625rem;
		min-height: 5.64113rem;
		display: block;

		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		color: $black_color;
		font-family: $font-family-jost;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 600;
		gap: 0.62rem;
		border-radius: 0.625rem;
		border: 2px solid $yellow_color;
		padding: 1rem 0.94rem;
		cursor: pointer;
		transition: $hover-transition;

		p {
			padding-right: 0.38rem;
		}

		&:hover {
			& .catalog__dropdown-list {
				padding: 1.5rem 1.5rem;
				border-width: 1px;
				max-height: 100rem;
				transition: $hover-transition;
			}
		}
	}

	&__search {
		border-radius: 0.625rem;
		border: 1px solid var(--grey-2, #8b8b8b);
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		padding: 0 1.25rem 0;
		width: 100%;
		max-width: 26.25rem;
		box-sizing: border-box;

		input {
			border: none;
			outline: none;
			color: $black_color;
			font-family: $font-family-inter;
			font-size: 0.625rem;
			font-style: normal;
			font-weight: 400;
			line-height: 0%;
			width: 100%;
			height: 100%;
			padding: 1.31rem 0 1.38rem;
			box-sizing: border-box;

			background-image: url("../img/Search.svg");
			background-position: right center;
			background-repeat: no-repeat;

			&::placeholder {
				color: $grey_color;
			}
		}
		a {
			position: absolute;
			right: 3.5rem;
			svg {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	&__favorite {
	}

	&__account {
	}

	&__basket {
		position: relative;
		display: flex;
		z-index: 1;
	}

	&__counter {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -0.3rem;
		right: -0.3rem;
		min-width: 1rem;
		min-height: 1rem;
		border-radius: 100%;
		background-color: $black_color;
		color: $white_color;
		font-family: $font-family-inter;
		font-size: 0.6rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		z-index: 2;
	}
}

.contacts {
	&__item {
		display: flex;
		align-items: center;
		gap: 0.38rem;

		p {
			color: $white_color;
			font-family: $font-family-inter;
			font-size: 0.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: 0%; /* 0rem */
			transition: $hover-transition;
		}

		&:hover p {
			color: $yellow_color;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 1.13rem;
	}
}
.menu-item-has-children {
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.25rem;

		&::after {
			content: "";
			display: block;
			background-image: url("../img/Arrow_Down.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			transition: $hover-transition;
			min-width: 0.75rem;
			min-height: 0.75rem;
		}
	}

	&:hover a {
		&::after {
			background-image: url("../img/Arrow_Down_Hover.svg");
		}
	}
}
.button {
}
