.catalog {
	&__dropdown {
		display: block;
		position: absolute;
		top: 3.5rem;
		padding-top: 1.25rem;
		left: 0;
		z-index: 3;
	}
	&__dropdown-list {
		border-radius: 0.625rem;
		border: 1px solid $yellow_color;
		background: #f3f3f3;
		//padding: 1.5rem;
		padding: 0 1.5rem;
		border-width: 0px;
		max-height: 0rem;
		width: 100%;
		overflow: hidden;
		transition: $hover-transition;

		ul {
			display: flex;
			flex-direction: column;
			// gap: 1.25rem;

			li {
				padding: 0.75rem 0;
				position: relative;

				&:first-child {
					padding: 0 0 0.75rem;
				}

				&:last-child {
					padding: 0.75rem 0 0;
				}
				a {
					display: flex;
					align-items: center;
					gap: 0.38rem;
					color: $black_color;
					font-family: $font-family-inter;
					font-size: 0.875rem;
					font-style: normal;
					font-weight: 300;
					&::after {
						content: "";
						display: block;
						background-image: url("../img/arrow-right.svg");
						background-repeat: no-repeat;
						background-position: center;
						background-size: cover;
						min-width: 0.625rem;
						min-height: 0.625rem;
					}
				}

				&:hover {
					a {
						font-weight: 500;
						&::after {
							background-image: url("../img/arrow-right-hover.svg");
						}
					}
				}
			}
		}
	}
}

.header {
	position: relative;
	z-index: 3;
	&__wrapper {
		background-color: $black_color;
	}

	&__mobile-button {
		display: none;
	}

	&__container {
		display: flex;
		padding: 2rem 0;
		align-items: center;
		justify-content: space-between;
	}

	&__contacts {
		display: flex;
		align-items: center;
		gap: 1.87rem;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 3.12rem;
		li {
			position: relative;
			a {
				color: $white_color;
				font-family: $font-family-inter;
				font-size: 0.75rem;
				font-style: normal;
				font-weight: 400;
				line-height: 0%; /* 0rem */
				transition: $hover-transition;
			}

			&:hover a {
				color: $yellow_color;
				transition: $hover-transition;
			}

			&:hover {
				.dropdown {
					max-height: 8rem;
					padding: 1.5rem;
					border: 1px solid var(--yellow, #ffcb31);
				}
			}

			.dropdown {
				position: absolute;
				top: 1.5rem;
				max-height: 0rem;
				overflow: hidden;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
				padding: 0 1.5rem;
				border-radius: 0.625rem;
				border: 0px solid var(--yellow, #ffcb31);
				background: #f3f3f3;
				z-index: 3;
				transition: all 0.3s ease-in-out;
				li {
					&:hover {
						a {
							font-weight: 600;
							transition: all 0.3s ease-in-out;
						}
					}
					a {
						color: var(--grey, #2b2b2b);
						font-family: $font-family-inter;
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 400;
						line-height: 100%;
						text-wrap: nowrap;
						transition: all 0.3s ease-in-out;

						&::after {
							display: none;
						}
					}
				}
			}
		}
	}

	.navigations__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding: 1.62rem 0;
	}

	&__logo {
		max-width: 5.625rem;
		width: 5.625rem;
		min-height: 5.64113rem;
		display: block;

		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		color: $black_color;
		font-family: $font-family-jost;
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 600;
		gap: 0.62rem;
		border-radius: 0.625rem;
		border: 2px solid $yellow_color;
		padding: 1rem 0.94rem;
		cursor: pointer;
		transition: $hover-transition;

		p {
			padding-right: 0.38rem;
		}

		&:hover {
			& .catalog__dropdown-list {
				padding: 1.5rem 1.5rem;
				border-width: 1px;
				max-height: 30rem;
				transition: $hover-transition;
			}
		}
	}

	&__search {
		border-radius: 0.625rem;
		border: 1px solid var(--grey-2, #8b8b8b);
		display: flex;
		align-items: center;
		position: relative;
		height: 100%;
		padding: 0 1.25rem 0;
		width: 100%;
		max-width: 26.25rem;
		box-sizing: border-box;
		transition: all 1s ease-in-out;

		&-mobile {
			display: none;
		}

		input {
			border: none;
			outline: none;
			color: $black_color;
			font-family: $font-family-inter;
			font-size: 0.625rem;
			font-style: normal;
			font-weight: 400;
			line-height: 0%;
			width: 100%;
			height: 100%;
			padding: 1.31rem 0 1.38rem;
			box-sizing: border-box;
			&::placeholder {
				color: $grey_color;
			}
		}
		a {
			position: absolute;
			right: 3.5rem;
			svg {
				@include adaptiv-value("width", toPX(1.5), toPX(1.375), 1);
				@include adaptiv-value("height", toPX(1.5), toPX(1.375), 1);
			}

			&.glass {
				right: 1.5rem;
				@include adaptiv-value("width", toPX(1.5), toPX(1.375), 1);
				@include adaptiv-value("height", toPX(1.5), toPX(1.375), 1);
				background-image: url("../img/Search.svg");
				background-position: right center;
				background-repeat: no-repeat;
				background-size: cover;
			}

			&.search__close {
				display: none;
				right: 1.5rem;
			}
		}
	}

	&__icons {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	&__basket {
		position: relative;
		display: flex;
		z-index: 1;
	}

	&__counter {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: -0.3rem;
		right: -0.3rem;
		min-width: 1rem;
		min-height: 1rem;
		border-radius: 100%;
		background-color: $black_color;
		color: $white_color;
		font-family: $font-family-inter;
		font-size: 0.6rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		z-index: 2;
	}
}

.contacts {
	&__item {
		display: flex;
		align-items: center;
		gap: 0.38rem;

		p {
			color: $white_color;
			font-family: $font-family-inter;
			font-size: 0.75rem;
			font-style: normal;
			font-weight: 400;
			line-height: 0%; /* 0rem */
			transition: $hover-transition;
		}

		&:hover p {
			color: $yellow_color;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		gap: 1.13rem;
	}
}
.menu-item-has-children {
	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.25rem;

		&::after {
			content: "";
			display: block;
			background-image: url("../img/Arrow_Down.svg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			transition: $hover-transition;
			min-width: 0.75rem;
			min-height: 0.75rem;
		}
	}

	&:hover a {
		&::after {
			background-image: url("../img/Arrow_Down_Hover.svg");
		}
	}
}

@include media-width(1300px) {
	.header {
		&__list {
			gap: 1.5rem;
		}
	}
}
@include media-width(1150px) {
	.header {
		&__search {
			@include adaptiv-value("max-width", toPX(20), toPX(5), 1);
		}
	}
}

@include media-width($md) {
	.catalog {
		&__dropdown {
			display: block;
			position: absolute;
			top: 3.5rem;
			padding-top: 1.25rem;
			left: 0;
			z-index: 3;
		}
		&__dropdown-list {
			border-radius: 0.625rem;
			border: 1px solid $yellow_color;
			background: #f3f3f3;
			//padding: 1.5rem;
			padding: 0 1.5rem;
			border-width: 0px;
			max-height: 0rem;
			width: 100%;
			overflow: hidden;
			transition: $hover-transition;

			ul {
				display: flex;
				flex-direction: column;
				// gap: 1.25rem;

				li {
					padding: 0.75rem 0;

					&:first-child {
						padding: 0 0 0.75rem;
					}

					&:last-child {
						padding: 0.75rem 0 0;
					}
					a {
						display: flex;
						align-items: center;
						gap: 0.38rem;
						color: $black_color;
						font-family: $font-family-inter;
						font-size: 0.875rem;
						font-style: normal;
						font-weight: 300;
						&::after {
							content: "";
							display: block;
							background-image: url("../img/arrow-right.svg");
							background-repeat: no-repeat;
							background-position: center;
							background-size: cover;
							min-width: 0.625rem;
							min-height: 0.625rem;
						}
					}

					&:hover {
						a {
							font-weight: 500;
							&::after {
								background-image: url("../img/arrow-right-hover.svg");
							}
						}
					}
				}
			}
		}
	}

	.header {
		&__contacts {
			display: flex;
			align-items: center;
			gap: 1.5rem;
		}

		&__menu {
			display: flex;
			align-items: center;
		}

		&__list {
			gap: 1rem;
			li {
				a {
					font-size: 0.75rem;
				}

				&:hover a {
					color: $yellow_color;
					transition: $hover-transition;
				}
			}
		}

		.navigations__wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			padding: 1.62rem 0;
		}

		&__logo {
			max-width: 5.625rem;
			width: 5.625rem;
			min-height: 5.64113rem;
			display: block;

			picture,
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__button {
			position: relative;
			display: flex;
			align-items: center;
			color: $black_color;
			font-family: $font-family-jost;
			@include adaptiv-value("font-size", toPX(1.1), toPX(0.75), 1);
			font-style: normal;
			font-weight: 600;
			gap: 0.62rem;
			border-radius: 0.625rem;
			border: 2px solid $yellow_color;
			padding: 1rem 0.94rem;
			cursor: pointer;
			transition: $hover-transition;

			p {
				padding-right: 0.38rem;
			}

			&:hover {
				& .catalog__dropdown-list {
					padding: 1.5rem 1.5rem;
					border-width: 1px;
					max-height: 30rem;
					transition: $hover-transition;
				}
			}
		}

		&__icons {
			display: flex;
			align-items: center;
			gap: 1.5rem;
		}

		&__basket {
			position: relative;
			display: flex;
			z-index: 1;
		}

		&__counter {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: -0.3rem;
			right: -0.3rem;
			min-width: 1rem;
			min-height: 1rem;
			border-radius: 100%;
			background-color: $black_color;
			color: $white_color;
			font-family: $font-family-inter;
			font-size: 0.6rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			z-index: 2;
		}
	}

	.contacts {
		&__item {
			display: flex;
			align-items: center;
			gap: 0.38rem;

			p {
				color: $white_color;
				font-family: $font-family-inter;
				font-size: 0.75rem;
				font-style: normal;
				font-weight: 400;
				line-height: 0%; /* 0rem */
				transition: $hover-transition;
			}

			&:hover p {
				color: $yellow_color;
			}
		}

		&__telegram,
		&__viber {
			p {
				display: none;
			}
		}

		&__wrapper {
			display: flex;
			align-items: center;
			gap: 1.13rem;
		}
	}
	.menu-item-has-children {
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 0.25rem;

			&::after {
				content: "";
				display: block;
				background-image: url("../img/Arrow_Down.svg");
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				transition: $hover-transition;
				min-width: 0.75rem;
				min-height: 0.75rem;
			}
		}

		&:hover a {
			&::after {
				background-image: url("../img/Arrow_Down_Hover.svg");
			}
		}
	}
}

@include media-width($sm) {
	.header {
		.navigations__wrapper {
			padding: 0;
		}
		&__container {
			padding: 1.06rem 0;
		}
		&__contacts {
			width: 100%;
			justify-content: space-between;
		}
		&__list {
			display: none;
		}

		&__mobile-button {
			display: block;
		}
		&__button {
			display: none;
		}

		&__search {
			left: 50%;
			right: 50%;
			transform: scaleX(0);
			opacity: 0;
			top: 1rem;
			bottom: 1rem;
			max-width: none;
			height: auto;
			width: auto;
			position: absolute;
			z-index: 5;
			background: $white_color;
			a {
				position: absolute;
				top: 1rem;
				right: 5.5rem;
				svg {
					@include adaptiv-value("width", toPX(1.5), toPX(1.375), 1);
					@include adaptiv-value("height", toPX(1.5), toPX(1.375), 1);
				}

				&.glass {
					right: 3.5rem;
				}

				&.search__close {
					display: block;
					right: 1.5rem;
				}
			}

			&-mobile {
				display: block;

				svg {
					width: 26px;
					height: 26px;
				}
			}

			&.active {
				transition: all 1s ease-in-out;
				left: 0.5rem;
				right: 0.5rem;
				transform: scaleX(1);
				opacity: 1;
			}
		}

		&__mobile-wrapper {
			display: flex;
			align-items: center;
		}

		&__account,
		&__basket,
		&__favorite {
			svg {
				width: 26px;
				height: 26px;
			}
		}

		&__counter {
			min-width: 0.6875rem;
			min-height: 0.6875rem;
			font-size: 0.4125rem;
		}
	}
	.contacts {
		&__item {
			p {
				font-size: 0.5rem;
			}

			img,
			svg {
				width: 0.625rem;
				height: 0.625rem;
			}
		}

		&__wrapper {
			gap: 0.63rem;
		}

		&__telegram,
		&__viber {
			img,
			svg {
				width: 0.75rem;
				height: 0.75rem;
			}
		}
	}
}

@keyframes scale-easeOutElastic {
	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(-0.32);
	}

	28% {
		transform: scale(0.13);
	}

	44% {
		transform: scale(-0.05);
	}

	59% {
		transform: scale(0.02);
	}

	73% {
		transform: scale(-0.01);
	}

	88% {
		transform: scale(0);
	}

	100% {
		transform: scale(0);
	}
}
