.popular {
	margin-top: 5rem;
	&__title {
	}

	&__brand {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 1.31rem;
		margin-top: 2.5rem;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		color: $black_color;
		font-family: $font-family-jost;
		@include adaptiv-value("font-size", toPX(1.125), toPX(0.875), 1);
		//font-size: 1.125rem;
		font-style: normal;
		font-weight: 700;
		text-align: center;
		line-height: 100%;
		text-transform: uppercase;
		border-radius: 0.625rem;
		border: 2px solid $black_color;
		background: #f3f3f3;
		padding: 1.25rem;
		box-sizing: border-box;
		text-decoration: none;
		white-space: nowrap;
		transition: $hover-transition;

		&:hover {
			border: 2px solid $yellow_color;
			background-color: $yellow_color;
		}
	}
}

@include media-width($md) {
	.popular {
		&__brand {
			overflow-x: scroll;
			overflow-y: hidden;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}
