.popular {
	margin-top: 5rem;
	&__title {
	}

	&__brand {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 1.31rem;
		margin-top: 2.5rem;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $black_color;
		font-family: $font-family-jost;
		font-size: 1.125rem;
		font-style: normal;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
		border-radius: 0.625rem;
		border: 2px solid $black_color;
		background: #f3f3f3;
		padding: 1.25rem 0;
		box-sizing: border-box;
		text-decoration: none;

		transition: $hover-transition;

		&:hover {
			border: 2px solid $yellow_color;
			background-color: $yellow_color;
		}
	}
}

@include media-width($md) {
	.popular {
		&__brand {
			padding-bottom: 1rem;
			overflow-x: scroll;
			overflow-y: hidden;
		}
	}
}
