.products {
	margin-top: 5rem;

	&__nav {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		margin-bottom: 2.5rem;
	}

	&__button {
		background-color: transparent;
		padding: 1.37rem;
		font-size: 1.375rem;
		font-style: normal;
		font-weight: 700;
		line-height: 100%;

		&:hover,
		&.active {
			background-color: $yellow_color;
		}
	}

	&__all {
		position: absolute;
		top: 1.25rem;
		right: 0;
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 0%; /* 0rem */
		text-decoration-line: underline;
	}

	&__wrapper {
		position: relative;
		margin-bottom: 6.25rem;
	}

	&__slider {
		display: none !important;
		// transition: all 0.5s ease-in-out;
		// opacity: 0;
		&.active {
			display: flex !important;
			// opacity: 1;
			// transition: all 0.5s ease-in-out;
		}
	}

	&__next {
		position: absolute;
		right: -5rem;
		top: 50%;
		margin: auto;
		cursor: pointer;
	}

	&__prev {
		position: absolute;
		left: -5rem;
		top: 50%;
		margin: auto;
		cursor: pointer;
	}
}
