circle {
	fill: rgba(0, 0, 0, 0);
	stroke: transparent;
	stroke-width: 15;
	stroke-dasharray: 408px 408px;
}
circle:nth-child(2n) {
	fill: rgba(0, 0, 0, 0);
	stroke: #ffcb31;
	stroke-width: 15;
}

.reviews {
	@include adaptiv-value("margin-bottom", toPX(6.25), toPX(3.75), 1);
	&__title {
		position: relative;
		@include adaptiv-value("margin-bottom", toPX(2.5), toPX(1.88), 1);
	}

	&__container {
		display: grid;
		@include adaptiv-value("gap", toPX(1.31), toPX(0.62), 1);
		grid-template-columns: repeat(3, 1fr);
		@include adaptiv-value("padding-bottom", toPX(2.5), toPX(1.87), 1);
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		border-radius: 0.625rem;
		border: 1px solid var(--grey-3, #ddd);

		padding: 1.12rem;
		box-sizing: border-box;
	}

	&__all {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background: var(--yellow-2, #fffdf2);
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;
	}

	&__rate {
		position: relative;
	}

	&__circle {
		display: block;
		float: left;
	}

	&__value {
		color: $black_color;
		font-family: $font-family-jost;
		@include adaptiv-value("font-size", toPX(1.5), toPX(1.25), 1);
		font-style: normal;
		font-weight: 600;
		line-height: 0%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
		align-items: center;
		justify-content: center;
	}

	&__count {
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 0%; /* 0rem */
	}

	&__stars {
		display: flex;
		gap: 0.1rem;
		align-items: center;
	}

	&__text {
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 0.975rem */
	}

	&__user-info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 0.62rem;
	}

	&__user {
		color: $black_color;
		font-family: $font-family-inter;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 0rem */
	}

	&__date {
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		font-size: 0.75rem;
		font-style: normal;
		font-weight: 400;
		line-height: 0%;

		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.38rem;

		&::before {
			content: "";
			display: block;
			min-width: 1rem;
			min-height: 1rem;
			background-image: url("../img/Calendar.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	&__button-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__button {
		color: var(--grey, #2b2b2b);
		font-family: $font-family-jost;
		@include adaptiv-value("font-size", toPX(1), toPX(0.875), 1);
		font-style: normal;
		font-weight: 700;
		padding: 1.38rem 1.38rem;
	}

	&__upload {
		display: none;
	}
}

.reviews {
	&__page-container {
		margin-bottom: 3.75rem;
		padding-bottom: 0;
	}

	&__header {
		margin-bottom: 2.5rem;
	}

	&__line {
		display: flex;
		flex-direction: column;
		gap: 1.06rem;
		background: var(--yellow-2, #fffdf2);
	}

	&__line-item {
		display: flex;
		align-items: center;
		gap: 1.12rem;
		p {
			color: var(--grey, #2b2b2b);
			font-family: $font-family-inter;
			font-size: 1rem;
			font-style: normal;
			font-weight: 400;
			line-height: 0%; /* 0rem */
		}

		span {
			border-radius: 6.25rem;
			background: var(--grey-4, #f3f3f3);
			height: 0.75rem;
			display: block;
			position: relative;
			width: 100%;

			&::after {
				content: "";
				left: 0;
				top: 0;
				height: 100%;
				position: absolute;
				border-radius: 6.25rem;
				background: var(--yellow, #ffcb31);
				width: var(--w);
				transition: all 0.5s ease-in-out;
			}
		}
	}

	&__control {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		height: 100%;
		padding-top: 1.5rem;
		background: var(--yellow-2, #fffdf2);
	}

	&__likes {
		color: var(--grey, #2b2b2b);
		text-align: center;
		font-family: $font-family-inter;
		font-size: 0.875rem;
		font-style: normal;
		font-weight: 400;
		line-height: 130%; /* 1.1375rem */
	}

	&__button {
		width: max-content;
	}
}
.reviews {
	&__items {
		.container {
			display: flex;
			flex-direction: column;
			gap: 1.25rem;
			margin-bottom: 2.5rem;
		}
	}

	&__item {
		border-radius: 0.625rem;
		border: 1px solid var(--grey-3, #ddd);
		padding: 1.38rem;
	}

	&__item-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.reviews__user {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;

			span {
				color: var(--grey, #2b2b2b);
				font-family: $font-family-inter;
				font-size: 1rem;
				font-style: normal;
				font-weight: 600;
				line-height: 100%; /* 0rem */
			}
		}

		.reviews__date {
			font-size: 0.875rem;

			&::before {
				@include adaptiv-value("min-width", toPX(1.125), toPX(0.75), 1);
				@include adaptiv-value("min-height", toPX(1.125), toPX(0.75), 1);
			}
		}
	}

	&__item-body {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}

	&__item-content {
		max-width: 75%;
		.reviews__text {
			margin-top: 1.25rem;
			color: var(--grey, #2b2b2b);
			font-family: $font-family-inter;
			@include adaptiv-value("font-size", toPX(0.875), toPX(0.75), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 1.1375rem */
		}
	}

	&__images {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin: 1.37rem 0 1.63rem;

		img {
			overflow: hidden;
			border-radius: 0.625rem;
			@include adaptiv-value("max-width", toPX(6.25), toPX(4.375), 1);
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__answer {
		border-radius: 0.625rem;
		background: var(--grey-4, #f3f3f3);
		display: flex;
		flex-direction: column;
		gap: 0.88rem;
		padding: 1rem;
		margin-top: 1.25rem;

		p {
			color: var(--grey, #2b2b2b);
			font-family: $font-family-inter;
			@include adaptiv-value("font-size", toPX(0.875), toPX(0.75), 1);
			font-style: normal;
			font-weight: 600;
			line-height: 130%; /* 1.1375rem */
		}

		span {
			color: var(--grey, #2b2b2b);
			font-family: $font-family-inter;
			@include adaptiv-value("font-size", toPX(0.875), toPX(0.75), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 130%; /* 1.1375rem */
		}
	}

	&__vote {
		display: flex;
		align-items: center;
		gap: 1.88rem;
	}

	&__vote-item {
		display: flex;
		align-items: center;
		gap: 0.62rem;
		span {
			color: var(--grey, #2b2b2b);
			font-family: $font-family-inter;
			@include adaptiv-value("font-size", toPX(1), toPX(0.75), 1);
			font-style: normal;
			font-weight: 400;
			line-height: 0%; /* 0rem */
		}

		svg {
			@include adaptiv-value("max-width", toPX(1.25), toPX(1.125), 1);
		}
	}
}

@include media-width($md) {
	.reviews {
		&__upload {
			display: block;
		}
		&__button-wrapper {
			justify-content: space-between;
		}
		&__title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@include media-width($sm) {
	.reviews {
		&__container {
			grid-template-columns: repeat(1, 1fr);
		}

		&__item-body {
			flex-direction: column;
			align-items: flex-start;
			gap: 1.38rem;
		}

		&__item-content {
			max-width: none;
		}

		&__page-container {
			grid-template-columns: repeat(2, 1fr);
			.reviews__all {
				width: 100%;
				.reviews__wrapper {
					flex-direction: column;
					gap: 1rem;
				}
			}
			.reviews__control {
				grid-area: 2/1/2/3;
				align-items: center;
			}
		}
	}
}
