html,
body {
	height: 100%;
}

body {
	font-family: $font-family-inter;
	font-weight: normal;
	font-size: 16px;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.title {
	color: $black_color;
	font-family: $font-family-jost;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	text-align: center;

	&--middle {
		@include adaptiv-value("font-size", toPX(1.375), toPX(1), 1);
	}

	&--small {
		@include adaptiv-value("font-size", toPX(1.125), toPX(0.875), 1);
	}

	&--left {
		text-align: left;
	}
}

.button {
	border-radius: 0.625rem;
	background-color: $yellow_color;
	padding: 1.38rem;
	border: 2px solid $yellow_color;
	box-sizing: border-box;
	color: $black_color;
	font-family: $font-family-jost;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 0%;
	display: inline-block;
	outline: none;

	transition: all 0.5s ease-in-out;
	cursor: pointer;

	&--border {
		padding: calc(1.38rem - 2px);
		border: 2px solid $yellow_color;
		background-color: transparent;

		&.active,
		&:hover {
			background-color: $yellow_color;
		}
	}
}

.tab__content {
	transition: all 0.8s ease-in-out;
}

.link {
	&__all {
		position: absolute;
		right: 0;
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		font-size: 1rem;
		font-style: normal;
		font-weight: 500;
		line-height: 130%; /* 1.3rem */
		text-decoration-line: underline;
	}
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease-in-out;

	&.active {
		max-height: 20rem;
		transition: all 0.5s ease-in-out;
	}
}

.accordion__mobile-content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease-in-out;

	&.active {
		max-height: 50vh;
		transition: all 0.5s ease-in-out;
	}
}

.container {
	position: relative;
	max-width: $container-width;
	margin: 0 auto;
}
