.seo {
	@include adaptiv-value("margin-top", toPX(6.25), toPX(2), 1);
	@include adaptiv-value("margin-bottom", toPX(5), toPX(2), 1);

	&__container {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(1.5), toPX(0.5), 1);
		overflow: hidden;
		transition: all 0.5s ease-in-out;
	}

	&__title {
		color: $black_color;
		font-family: $font-family-jost;
		@include adaptiv-value("font-size", toPX(1.25), toPX(0.75), 1);
		font-style: normal;
		font-weight: 600;
		line-height: 130%; /* 0rem */
	}

	&__text {
		color: $black_color;
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(1), toPX(0.55), 1);
		font-style: normal;
		font-weight: 400;
		line-height: 130%;
	}

	&__all {
		margin-top: 1rem;
		color: var(--grey-2, #8b8b8b);
		font-family: $font-family-inter;
		@include adaptiv-value("font-size", toPX(1), toPX(0.55), 1);
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 0.75rem;
		&::before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: -500%;
			right: 0;
			bottom: 100%;
			opacity: 1;
			transition: all 0.5s ease-in-out;
			pointer-events: none;
			background: linear-gradient(0deg, #fcfcfcde 30%, #fcfcfcaf 70%, rgba(252, 252, 252, 0) 100%);
		}
		&::after {
			content: "";
			display: block;
			@include adaptiv-value("min-width", toPX(1.2), toPX(0.75), 1);
			@include adaptiv-value("min-height", toPX(1.2), toPX(0.75), 1);
			background-image: url("../img/arrow_readmore.png");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			transition: all 0.5s ease-in-out;
			transform: rotate(0deg);
		}

		&.open {
			&::after {
				transition: all 0.5s ease-in-out;
				transform: rotate(-180deg);
			}
			&::before {
				transition: all 0.5s ease-in-out;
				opacity: 0;
			}
		}
	}
}
