// ! Media mixin sizes
// Різні девайси

$sizes: (
	"xs": 576px,
	"sm": 767px,
	"md": 992px,
	"lg": 1160px,
	"xl": 1440px
);

$xs: 576px;
$sm: 767px;
$md: 992px;
$lg: 1160px;
$xl: 1440px;

// Типографіка
$font-family-inter: "Inter", sans-serif;
$font-family-jost: "Jost", sans-serif;
$font-size: 16px;
$line-height: 1.5;
$color: #2b2b2b;

// Кольори
$black_color: #2b2b2b;
$yellow_color: #ffcb31;
$white_color: #fcfcfc;

// Розміщення блоків
$container-width: 1160px;
$maxWidth: 1160;
$maxWidthContainer: 1160;

// Анімація
$transition-duration: 0.3s;
$hover-transition: all $transition-duration ease-in-out;

$breakpoints: (
	small: 320px,
	medium: 768px,
	large: 1024px,
	xlarge: 1366px
);
